@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');





/*Responsive mobile*/
@media (min-width: 375px) { 

.background-hero{
  background-color: #F0F4FF;
  width: 100%;
 
  
}
  .hero-first {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

.hero-second {
  text-align: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 26px;
}

.hero-third {
  text-align: center;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 36px;
    color: #508df7;
    margin-bottom: 20px;
}

.button-search {
    background-color: #508df7;
    border: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 16px;
}

.search-style {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);;
}
img{
  width: 400px;
  height: 200px;
}

}

/*Responsive tablet*/
@media (min-width: 768px) { 

  .hero-first {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

.hero-second {
  text-align: left;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 55px;
}

.hero-third {
  text-align: left;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 36px;
    color: #508df7;
}

.button-search {
    background-color: #508df7;
    border: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 16px;
}

.search-style {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);;
}


}

/*Responsive computador*/
@media (min-width: 1200px) { 

  .box-hero{
    display: flex;
  }

  .hero-first {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 24px;
}

.hero-second {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 55px;
}

.hero-third {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 36px;
    color: #508df7;
}

.button-search {
    background-color: #508df7;
    border: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 16px;
}

.search-style {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);;
}

img{
  width: 700px;
  height: 500px;
}

}