/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.footer-app {
    background-color: black;
    height:400px;
    color: white;
}



.columna-1,.columna-2,.columna-3{
    text-align: left;
    margin:0;


}

.text-principal{
    font-weight: 900;
}

h5{
    color:#508DF7;

}

p{
    width: 400px;
}

.iconos-footer{
    width:200px;
}

.columna-2 ul li {
 margin-bottom: 7px;
}

.columna-3 ul li {
    margin-bottom: 7px;
   }