


.border-label-login {
    border-color: #C6DBFB;
}

.title-login{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    font-size: 37px;
}

.p-login {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 15px;
}

.title-label-login{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 16px;
}

.button-style-login {
    background-color: #508CF6;
    color: #ffffff;
    border: none
}

.image-style-login {
    background-image: url('https://res.cloudinary.com/dq3mxxidu/image/upload/v1718738658/login-image_rolyrd.jpg');
    height: 538px;
    width: 482px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50px;
}