@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.body-image-unete {
    
    background-image: url("https://res.cloudinary.com/dq3mxxidu/image/upload/v1718675922/unete_iiodem.jpg");
    background-size: cover; /* ajusta el tamaño de la imagen para cubrir todo el div */
    background-position: center; /* centra la imagen en el div */
    background-repeat: no-repeat; /* evita que la imagen se repita */
    width: 100%;
    height: 400px;
}

.button-style-unete {
    background-color: #508DF7;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.title-unete{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 32px;
    color: #ffffff;
}